@model List<MvcCoreCrud.Models.EmpModel>

@{
    ViewData["Title"] = "Home Page";
}

<table class="table table-bordered table-hover">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>City</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Email</td>
            <td>@item.City</td>
            <td><a asp-action="edit" asp-route-id="@item.Id" class="btn btn-success">Edit</a></td>
            <td><a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a></td>
        </tr>
    }
</table>
<a href="@Url.Action("AddEmp","Home")" class="btn btn-success">AddNew</a>
